{% extends "zmyapp/layout.html" %}
<!-- Este bloque reemplazará el título original "Mi aplicación de Django". -->
{% block title %} {{ curso.0 }} {% endblock %}
<!-- Este bloque se ubicará dentro de la etiqueta <main> de layout.html. -->
{% block content %}
<table class="tabla-curso">
  <thead>
    <tr>
      <th>Orden</th>
      <th>Curso</th>
      <th>Inscriptos</th>
    </tr>
  </thead>
  {% for nombre, inscriptos in cursos %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url 'curso'  nombre %}">
        {% comment %}curso/{{ nombre }}  {% endcomment %}
        <span class="texto">{{ nombre }}</span>
      </a>
    </td>
    <td>{{ inscriptos }}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'agregar_curso' %}">
  <span class="texto">AGREGAR CURSO</span>
</a>
{% endblock %} {% load static %}
