{% extends "zmyapp/layout.html" %}
<!-- Este bloque reemplazará el título original "Mi aplicación de Django". -->
{% block title %} Tabla de Cursos {% endblock %}
<!-- Este bloque se ubicará dentro de la etiqueta <main> de layout.html. -->
  {% block content %}
  <p></p>
  <table class="tabla-curso">
  <thead>
    <tr>
      <th>Orden</th>
      <th>Curso</th>
      <th>Inscriptos</th>
    </tr>
  </thead>
  {% for curso in cursos %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>
      <a href="{% url 'curso'  curso.nombre %}">
        {% comment %}curso/{{ nombre }}  {% endcomment %}
        <span class="texto">{{ curso.nombre }}</span>
      </a>
    </td>
    <td>{{ curso.inscriptos }}</td>
  </tr>
  {% endfor %}
</table>
<p></p>
<a href="{% url 'agregar_curso' %}">
  <span class="texto">AGREGAR CURSO</span>
</a>
<p></p>
<a href="{% url 'cursos_Json' %}">
  <span class="texto">Formato Json</span>
</a>
{% endblock %} 
