{% extends "zmyapp/layout.html" %}
<!-- Este bloque reemplazará el título original "Mi aplicación de Django". -->
{% block title %} {{ curso.0 }} {% endblock %}
<!-- Este bloque se ubicará dentro de la etiqueta <main> de layout.html. -->
{% block content %}
<table class="tabla-curso">
  <thead>
    <tr>
      <th>Pelicula</th>
      <th>Comentarios</th>
    </tr>
  </thead>
  {% for id, pelicula, comentario in peliculas %}
  <tr>
    <td>
      <a href="{% url 'peliculas_comentarios' pelicula|lower|cut:" " id %}">
        <!--"peliculas/<str:nombre>/comentario/<int:numero_comentario>"-->
        <span class="texto">{{ pelicula }}</span>
      </a>
    </td>
    <td>{{ comentario }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %} {% load static %}
